:root {
  --el-color-primary: #D32F2F;
  --el-color-primary-light-3: #E06D6D;
  --el-color-primary-light-5: #E99797;
  --el-color-primary-light-7: #F2C1C1;
  --el-color-primary-light-8: #F6D6D6;
  --el-color-primary-light-9: #FAEBEB;
  --el-color-primary-dark-2: #A92626;
}

html.dark {
  --el-color-primary: #D32F2F;
  --el-color-primary-light-3: #A92626;
  --el-color-primary-light-5: #7F1D1D;
  --el-color-primary-light-7: #561414;
  --el-color-primary-light-8: #3D0E0E;
  --el-color-primary-light-9: #f5212120;
  --el-color-primary-dark-2: #E06D6D;
}